.header{
  height: 100%;
    .logo{
      line-height: 75px;
      img{
        width: 40px;
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
        margin-left: 20px;
        font-weight: bold;
        font-size: 28px;
        color: #409eff;
        word-spacing: 5px;
      }
    }
    .user{
      line-height: 75px;
      img{
        width: 30px;
        vertical-align: middle;
        border-radius: 50%;
      }
      p{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        color: #409eff;
        word-spacing: 5px;
        span{
          font-weight: bold;
          margin-right: 10px;
        }
      }
  }
}