.home-container {
  height: 100%;
  .home-header {
    background: green;
  }
  .home-aside {
    background: blue;
    height: 100%;
  }
  .home-main {
    background: pink;
  }
  .home-footer {
    background: #000;
  }
}